[submodule "libqtelegram-ae"]
	path = libqtelegram-ae
	url = https://github.com/debiancn/libqtelegram-aseman-edition.git
[submodule "cutegram"]
	path = cutegram
	url = https://github.com/debiancn/Cutegram.git
[submodule "telegramqml"]
	path = telegramqml
	url = https://github.com/debiancn/TelegramQML.git
[submodule "asemantools"]
	path = asemantools
	url = https://github.com/debiancn/aseman-qt-tools.git
[submodule "goldendict"]
	path = goldendict
	url = https://github.com/hosiet/goldendict
[submodule "deepin-terminal"]
	path = deepin-terminal
	url = https://github.com/hosiet/deepin-terminal.git
[submodule "shadowsocks-qt5"]
	path = shadowsocks-qt5
	url = https://github.com/hosiet/shadowsocks-qt5.git
[submodule "libqtshadowsocks"]
	path = libqtshadowsocks
	url = https://github.com/hosiet/libqtshadowsocks.git
[submodule "vc"]
	path = vc
	url = https://github.com/hosiet/vc.git
[submodule "debiancn-keyring"]
	path = debiancn-keyring
	url = https://github.com/debiancn/debiancn-keyring.git
[submodule "deepin-gettext-tools"]
	path = deepin-gettext-tools
	url = https://github.com/debiancn/deepin-gettext-tools.git
