[submodule "manpages-zh"]
	path = manpages-zh
	url = https://github.com/debiancn/manpages-zh.git
[submodule "fortune-zh"]
	path = fortune-zh
	url = https://github.com/debiancn/fortune-zh.git
[submodule "nixnote2"]
	path = nixnote2
	url = https://github.com/hosiet/nixnote2.git
[submodule "mini-buildd"]
	path = mini-buildd
	url = https://github.com/debiancn/mini-buildd.git
[submodule "libqtelegram-ae"]
	path = libqtelegram-ae
	url = https://github.com/debiancn/libqtelegram-aseman-edition.git
[submodule "cutegram"]
	path = cutegram
	url = https://github.com/debiancn/Cutegram.git
[submodule "telegramqml"]
	path = telegramqml
	url = https://github.com/debiancn/TelegramQML.git
[submodule "asemantools"]
	path = asemantools
	url = https://github.com/debiancn/aseman-qt-tools.git
